@model PUC.LDSI.Domain.Entities.Publicacao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Publicacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Form geral-->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Form ava-->
            <div class="form-group">
                <label asp-for="AvaliacaoId" class="control-label"></label>
                <select asp-for="AvaliacaoId" class="form-control" asp-items="ViewBag.AvaliacaoId"></select>
                <span asp-validation-for="AvaliacaoId" class="text-danger"></span>
            </div>
            <!-- Form group-->
            <div class="form-group">
                <label asp-for="TurmaId" class="control-label"></label>
                <select asp-for="TurmaId" class="form-control" asp-items="ViewBag.TurmaId"></select>
                <span asp-validation-for="TurmaId" class="text-danger"></span>
            </div>
            <!-- Form data inicio-->
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <!-- Form data fim-->
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <!-- Form data valorprova-->
            <div class="form-group">
                <label asp-for="ValorProva" class="control-label"></label>
                <input asp-for="ValorProva" class="form-control" />
                <span asp-validation-for="ValorProva" class="text-danger"></span>
            </div>
            <!-- imput do id para submit-->
            <input type="hidden" asp-for="Id" />
            <!-- form da data criação-->
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
